<!DOCTYPE html>
<html>
<head>
    <title>Response Added to a Reclamation</title>
</head>
<body>
    <p>Hello,</p>
    <p>A response has been added to a reclamation:</p>
    <p>Response Content: {{ reponse.reponse }}</p>
    <p>Reclamation ID: {{ reponse.reclamation.id }}</p>
    <!-- Add more details as needed -->
</body>
</html>
