{% extends 'base2.html.twig' %}

{% block title %}

<title>Edit Reservation</title>

{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>

{% endblock %}
